/* Base styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, Roboto, Ubuntu, sans-serif;
    line-height: 1.6;
    background: linear-gradient(#b8dafc, white);
    overflow: hidden;
}

.container {
    width: 95%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.wrapper {
    background: rgb(252, 251, 251);
    border-radius: 0.25rem;
    width: 500px;
    height: auto;
    margin: auto;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5)
}

.wrapper .muted {
    font-size: 14px;
    color: #848383;
}